@use '../helpers' as *;
// ================================
// 🌍  GLOBAL STYLES
// ================================
// Базовые глобальные стили проекта Robin.W:
// • типографика и цвета
// • заголовки и отступы
// • плавные переходы
// • hover-анимации ссылок
// • поддержка reduce motion
// ================================


// 🧠 Базовые стили документа

body {
  @include fluid-text(18, 16); // адаптивный размер текста
  font-family: var(--font-family); // основной шрифт
  color: var(--color-dark); // цвет текста
  background-color: var(--color-light); // светлый фон по макету
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased; // сглаживание шрифтов
}

// 🔠 Заголовки
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  color: var(--color-dark);
  font-weight: 600;

}


// 📏 Размеры заголовков
h1, .h1 {
  @include fluid-text(65, 32); // hero
}

h2, .h2 {
  @include fluid-text(50, 32); // секционные заголовки
}

h3, .h3 {
  @include fluid-text(30, 18); // подзаголовки
}

h3, .h3 {
  @include fluid-text(25, 18); // подзаголовки
}




