@use '../helpers/index' as *;

.cta {
  padding: rem(160) 0 rem(120);
  background: $color-peach-accent;

  @include tablet {
    padding: rem(120) 0 rem(80);
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {

    }
  }

  &__title {
    font-size: rem(65);
    max-width: rem(780);
    line-height: 1.1;
    text-align: center;
    margin-bottom: rem(30);
    @include tablet {
      max-width: rem(650);

    }

    @include mobile {
      max-width: rem(500);
      font-size: rem(50);
      margin-bottom: rem(20);
    }
  }

  &__description {
    margin-bottom: rem(54);
    font-size: rem(20);
    line-height: 1.5;
    text-align: center;
    @include tablet {
      margin-bottom: rem(30);
    }

    @include mobile {
      margin-bottom: rem(15);
    }


  }

}