@use '../helpers/index' as *;


.features {
  padding: rem(125) 0;

  @include tablet {
    padding: rem(80) 0;
  }

  @include mobile {
    padding: rem(50) 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(200);

    @include tablet {
      row-gap: rem(100);
    }

    @include mobile {
      row-gap: rem(40);
    }


  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-direction: column;
    }
  }

  &__text {
    max-width: rem(480);
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
    align-items: flex-start;

    @include tablet {
      justify-content: center;
      text-align: center;
      row-gap: rem(15);
      align-items: center;
      order: 1;
    }

  }

  &__description {
    font-size: rem(20);
    line-height: 1.5;

    @include mobile {
      font-size: rem(16);
    }
  }

  &__title {
    line-height: 1.2;

  }

  &__link {
    text-decoration: none;
    color: inherit;
    font-size: rem(20);
    font-weight: 600;
    line-height: 1.5;

    @include tablet {
      margin-bottom: rem(20);
      display: flex;

    }
  }


  .text-underline {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

  }

  .background {
    background-color: #FFF8E4;;
    max-width: rem(632);
    width: 100%;

    padding: rem(150) rem(66);
    @include tablet {
      padding: rem(80) rem(40);
    }

    @include mobile {
      padding: rem(40) rem(20);
    }
  }

  &__image {
    @include tablet {
      order: 2;
    }


  }
  .background-img {
    object-fit: contain;
    padding: rem(37) rem(62) rem(37) rem(36);
    background: $color-light;
  }


}