@use '../helpers/index' as *;


.features {
  padding: rem(125) rem(0) rem(125);

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(200);

  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    max-width: rem(480);
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
    align-items: flex-start;
  }

  &__description {
    font-size: rem(20);
    line-height: 1.5;
  }

  &__title {
    line-height: 1.2;

  }

  &__link {
    text-decoration: none;
    color: inherit;
    font-size: rem(20);
    font-weight: 600;
    line-height: 1.5;
  }


  .text-underline {

    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

  }

  .background {
    background-color: #FFF8E4;;
    max-width: rem(632);
    width: 100%;
    height: rem(632);
    padding: rem(150) rem(66);
  }

  .background-img {
    padding: rem(37) rem(62) rem(37) rem(36);
    max-width: rem(500);
    height: rem(300);
    width: 100%;
    background: $color-light;
  }


}