@use '../helpers/index' as *;

.footer {
  padding: rem(60) 0;


  &__header {
    display: flex;
    column-gap: rem(70);
    border-bottom: 2px solid $color-dark;
    padding-bottom: rem(90);

    @include laptop {
      padding-bottom: rem(60);
      column-gap: rem(60);
    }

    @include tablet {
      row-gap: rem(30);
      flex-direction: column;

    }
  }

  &__case {
    display: flex;
    flex-direction: column;
    max-width: rem(370);
    width: 100%;


    @include laptop {
      max-width: rem(320);

    }

    @include tablet {
      align-items: center;
      order: 2;
      column-gap: rem(20);
      max-width: 100%;
      width: 100%;
    }

    @include mobile {
      flex-direction: column;
    }

    &-card {
      @include tablet {
        display: flex;
        column-gap: rem(50);
        align-items: flex-start;
      }

      @include mobile {
        flex-direction: column;
      }
    }

    &-meta {
      @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;

      }
    }

    &-title {
      margin-bottom: rem(28);
      font-size: rem(40);
      line-height: 1.2;

      @include tablet {
        max-width: rem(270);
        width: 100%;
      }
    }

    &-image {
      max-width: rem(300);
      width: 100%;
      flex-shrink: 0;
      margin-bottom: rem(31);
    }

    &-logo {
      max-width: rem(80);
      margin-bottom: rem(11);
    }

    &-text {
      text-align: start;
      max-width: rem(290);
      font-size: rem(20);
      line-height: 1.5;
      margin-bottom: rem(15);

      @include tablet {
        text-align: center;
      }
    }

    &-link {
      color: inherit;
      font-size: rem(20);
      font-weight: 600;
      line-height: 1.5;
    }
  }

  &__nav {
    display: flex;
    column-gap: rem(80);


    @include laptop {
      column-gap: rem(25);
    }

    @include tablet {
      justify-content: center;
      column-gap: rem(30);

      order: 1;
    }

    @include mobile {
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: rem(40);
    }


    &-column {
      display: flex;
      flex-direction: column;
      row-gap: rem(15);

      @include tablet {
        row-gap: rem(10);
      }

    }

  }

  &__item {
    max-width: rem(170);
    width: 100%;

    &:first-child {
      margin-bottom: rem(7);
    }
  }

  &__link {
    color: inherit;
    font-size: rem(15);
    line-height: 1;


  }

  &__bottom {
    padding: rem(40) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {

      flex-direction: column;
      align-items: center;
      row-gap: rem(30);
    }


    &-left {
      display: flex;
      align-items: center;
      column-gap: rem(16);

    }
  }

  &__tagline {
    max-width: rem(300);
    font-size: rem(12);
    line-height: 1.2;
  }

  &__copyright {

    font-size: rem(14);
    line-height: 1.4;

  }
}