@use '../helpers/index' as *;

.header {
  padding: rem(34) rem(0) rem(33);
  border-bottom: 1px solid rgba(0, 0, 0, 0.50);

  &__menu {
    display: flex;
    align-items: center;

  }

  &__logo {

  }


  &__nav {
    margin-left: rem(51);

    &-list {
      display: flex;
      column-gap: rem(57);
    }

    &-link {
      font-size: rem(15);
      color: inherit;
      text-decoration: none;
      line-height: 1.3;
    }
  }

  &__actions {
    display: flex;
    margin-left: auto;
    column-gap: rem(10);
  }

}