@use '../helpers/index' as *;

.header {
  padding: rem(34) rem(0) rem(33);
  border-bottom: 1px solid rgba(0, 0, 0, 0.50);

  @include tablet {
    padding: rem(24) 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    @include tablet {
      flex-wrap: wrap;
      gap: rem(10);
      justify-content: center;
    }
  }

  &__logo {
    @include tablet {
      order: 1;
    }
  }


  &__nav {
    margin-left: rem(51);

    @include tablet {
      width: 100%;
      order: 3;
      text-align: center;
      margin-left: 0;
    }


    &-list {
      display: flex;
      column-gap: rem(57);

      @include tablet {
        column-gap: rem(30);
        justify-content: center;
      }

      @include mobile {
        column-gap: rem(10);
      }
    }

    &-link {
      font-size: rem(15);
      color: inherit;
      text-decoration: none;
      line-height: 1.3;
      white-space: nowrap;

    }
  }

  &__actions {
    display: flex;
    margin-left: auto;
    column-gap: rem(10);

    @include tablet {
      order: 2;
      margin-left: 0;
    }


  }

}