@forward 'header';
@forward 'hero';
@forward 'trusted';
@forward 'features';
@forward 'lokalise';
@forward 'productivity';
@forward 'social-proof';
@forward 'integrations';
@forward 'cta';
@forward 'footer';