@use '../helpers/index' as *;

.social-proof {


  &__background-top {
    background: #C9E8F2;
    padding: rem(60) 0 rem(100);

    @include tablet {
      padding: rem(30) 0;
    }
  }

  &__background-bottom {
    background: #DABC98;
    padding: rem(80) 0 rem(60);
  }

  &__testimonial {
    display: flex;
    align-items: center;
    gap: rem(60);
    flex-wrap: nowrap;

    @include tablet {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }


  }

  &__quote {
    flex: 1;
    max-width: rem(920);
    font-size: rem(30);
    line-height: 1.3;

  }

  &__photo {
    display: flex;
    flex: 0 0 rem(330);
    flex-shrink: 0;

    @include tablet {
      flex: 0 0 rem(450);
      width: 100%;
    }


    &-img {
      width: 100%;
      object-fit: cover;
    }

  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
  }

  &__author {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
    @include tablet {
      align-items: center;
    }
  }

  &__name {
    font-size: rem(15);
    line-height: 1.6;
    @include tablet {
      font-size: rem(30);
    }
    @include mobile {
      font-size: rem(25);
      font-weight: 600;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
      flex-wrap: wrap;
      gap: rem(30) 0;


    }
  }

  &__item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    row-gap: rem(20);
    min-width: rem(150);


    &:first-child {
      flex: 0 0 rem(800);
      max-width: rem(800);
      flex-direction: row;
      align-items: center;
      column-gap: rem(60);
      padding-right: rem(60);
      border-right: 2px solid #3C3C3C;
      margin: 0 auto;

      @include laptop {
        flex: 0 0 rem(650);
        max-width: rem(650);
        column-gap: rem(30);

      }


      @include tablet {
        flex: 0 0 100%;
        justify-content: center;
        padding-right: 0;
        border-right: none;
        border-bottom: 2px solid #3C3C3C;
        padding-bottom: rem(30);
        text-align: center;


      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      margin-left: 0;

      @include tablet {
        flex: 0 0 50%;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    &:nth-child(2) {
      margin-left: rem(70);
      @include tablet {
        margin-left: 0;
      }

    }

    &:nth-child(3) {
      margin-left: rem(80);
      @include tablet {
        margin-left: 0;
      }
    }


    &-title {
      font-size: rem(15);
      font-weight: 400;
      line-height: 1.6;
    }

    &--title {
      max-width: rem(460);
      font-size: rem(35);
      font-weight: 600;
      line-height: 1.4;

      @include laptop {
        max-width: rem(400);
      }

      @include tablet {
        margin: 0;

        font-size: rem(30);
      }
    }
  }


}
