@use '../helpers/index' as *;

.trusted {
  background: $color-peach-accent;
  padding: rem(106) 0;

  @include tablet {
    padding: rem(60) 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: rem(70);

  }


  &__title {
    max-width: rem(700);

    @include mobile {
      text-align: center;
    }

  }

  &__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include tablet {
      flex-wrap: wrap;
      gap: rem(15);
      width: 70%;
      justify-content: center;
    }

    @include mobile {
      flex-direction: column;
    }


  }
}