@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
  text-decoration: none;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* =========================================
    🎨 COLORS
 ========================================= */
  /* === Базовые нейтральные === */
  --color-dark: #000000;
  --color-white: #ffffff;

  /* === Основной брендовый цвет === */
  --color-primary: #2C3878; /* основной темно-синий */
  --color-primary-light-1: #435297; /* 70% */
  --color-primary-light-2: #6B7AB0; /* 50% */
  --color-primary-light-3: #A1A8C8; /* 30% */
  --color-primary-light-4: #E0E2EC; /* самый светлый */

  /* === Градации серого / нейтральные для текста, фона, бордеров === */
  --gray-90: #141414; /* почти чёрный текст */
  --gray-70: #333333; /* тёмный текст / иконки */
  --gray-60: #3C3C3C; /* ещё чуть светлее */
  --gray-10: #9C9C9C; /* светлый текст / подписи */
  --gray-20: #D9D9D9; /* фон, разделители */

  /* =========================================
   🧱 BORDERS
========================================= */
  --border-radius: 30px;
  --border: 1px solid var(--gray-60);

  /* =========================================
     FONTS
  ========================================= */

  --font-family-base: 'Poppins', sans-serif;


  /* =========================================
   BUTTONS
========================================= */
  --button-height: 49px;
  --button-padding-x: 32px;
  --input-height: 62px;

  /* =========================================
   CONTAINER
========================================= */
  --container-width: 1200px;
  --container-padding-x: 120px;

}

body {
  font-family: var(--font-family-base);
  color: var(--gray-70);
  font-size: 18px;
  line-height: 170%; /* 61.2px */
  background-color: var(--color-white);

}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  box-sizing: border-box;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.button-blue {
  color: var(--color-white);
  padding-inline: var(--button-padding-x);
  height: var(--button-height);
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.button-white {
  color: var(--gray-70);
  padding-inline: var(--button-padding-x);
  height: var(--button-height);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.header {
  margin-top: 24px;
  margin-bottom: 100px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 74px;

}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 74px;
}

.header-menu-link {
  color: var(--gray-70);
  font-size: 16px;
  line-height: 160%; /* 25.6px */
}

.section-hero {
  margin-bottom: 160px;
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: 46px;
  position: relative;

}

.hero-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
}

.hero-title {
  color: var(--gray-70);
  font-size: 72px;
  font-weight: 700;
  max-width: 681px;
  line-height: 140%;
}

.hero-stats {

  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  row-gap: 57px;
  padding: 40px 48px 44px;

  position: absolute;
  right: 142px;
  top: 20%;


}

.stat {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 40px;
}

.stat-number {

  display: flex;
  font-size: 52px;
  font-weight: 400;

}

.stat-label {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%

}

