@use '../helpers/index' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: var(--transition-duration);
  white-space: nowrap;
  font-size: rem(16);
  border: none;
}

.button-sm {
  height: $button-height-sm;
  max-width: rem(120);

}

.button-lg {
  height: $button-height-lg;
}

.button-dark {
  background-color: $color-dark;
  color: $color-light;
  padding-inline: rem(40);
  font-size: rem(17);
  border: none;

}


.button-light,
.button-light-alt {
  background-color: $button-light;
  color: $color-dark;
  border: 1px solid $color-dark;
}

.button-light {
  padding-inline: rem(40);

}

.button-light-alt {
  padding-inline: rem(29);

}


.button-orange {
  background-color: $button-orange;
  color: $color-light;
  border: none;


}

.button-orange-primary {
  padding-inline-start: rem(22);
  padding-inline-end: rem(21);

}

.button-orange-secondary {
  padding-inline-start: rem(42);
  padding-inline-end: rem(41);
}

.button-orange-third {
  padding-inline: rem(20);
}


