@use '../helpers/index' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: var(--transition-duration);
  white-space: nowrap;
  font-size: rem(16);
  border: none;


}

.button-sm {
  height: $button-height-sm;
  max-width: rem(120);
  @include mobile {
    max-width: rem(100);
  }


}

.button-lg {
  height: $button-height-lg;
}

.button-dark {
  background-color: $color-dark;
  color: $color-light;
  padding-inline: rem(40);
  font-size: rem(17);
  border: none;

}


.button-light,
.button-light-alt {
  background-color: $button-light;
  color: $color-dark;
  border: 1px solid $color-dark;
}

.button-light {
  padding-inline: rem(40);


}

.button-light-alt {
  max-width: rem(160);
  padding-inline: rem(29);


}


.button-orange {
  background-color: $button-orange;
  color: $color-light;
  border: none;

}

.button-orange-primary {
  padding-inline-start: rem(21);
  padding-inline-end: rem(22);

}

.button-orange-secondary {
  max-width: rem(160);
  width: 100%;
  padding-inline-start: rem(41);
  padding-inline-end: rem(42);

}

.button-orange-third {
  padding-inline: rem(20);
}


