@use './helpers/index' as *;
@use './base/index' as *;


.header {
  padding: rem(50) 0;

  @include mobile {
    padding: 0;


  }


  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include laptop {
      flex-direction: column;
      row-gap: rem(30);
    }

    @include mobile {
      row-gap: 0;

    }
  }

  &__logo {
    @include laptop {
      order: 2;
    }

    @include mobile {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    &-img {
      @include mobile {
        max-width: rem(177);
      }
    }

  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(14);


    @include laptop {
      display: contents;
    }
  }

  &__info {
    &-row {
      display: flex;
      column-gap: rem(6);
      align-items: center;


      @include mobile {
        justify-content: space-between;
        align-self: stretch;

      }
    }

    @include laptop {
      order: 1;
    }

    @include tablet {

      padding: rem(10);

    }

    @include mobile {
      width: 100%;
      background: $color-grey-bg;

    }

  }

  &__contacts {
    &-link {
      font-size: rem(16);
      color: $color-text;
    }


  }

  &__phone {
    font-size: rem(16);
    color: $color-text;
    font-weight: 700;


  }

  &__langs {
    &-item {
      border: none;
      background: transparent;
      color: $color-text;
      font-size: rem(12);
      font-weight: 700;
      letter-spacing: rem(1);

      &--active {
        border-radius: rem(8);
        background: $color-accent;
        text-align: center;
        color: $color-light;
      }
    }
  }

  .nav {
    &__list {
      display: flex;
      column-gap: rem(15);
      justify-content: flex-end;
    }

    &__link {

      color: $color-accent-link;
      font-weight: 700;

      &--active {
        color: $color-accent;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: rem(-2);
          width: 100%;
          height: rem(2);
          background-color: $color-accent;
          border-radius: rem(2);
          align-self: stretch;
        }
      }
    }


  }

  &__nav {

    @include laptop {
      order: 3;
    }

  }


}

