@use 'normalize';
@use 'fonts';
@use 'globals';

.header {

  &-container {
    max-width: 1800px;
    margin: 0 auto;

  }

  &__nav {
    background-color: #141414;
    padding: 20px;
    border-radius: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);


    &-list {
      display: flex;
      justify-content: space-between;
      padding: 30px;
    }

    &-link {
      position: relative;
      color: #ffffff;
      text-decoration: none;
      font-weight: 700;
      transition: color 0.3s ease;

      &:hover {
        color: #ffd700;

      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        width: 70%;
        height: 2px;
        background: linear-gradient(90deg, #ff8a00, #e52e71);
        transition: transform 0.3s ease;
      }

      &:hover::after {
        transform: translateX(-50%) scaleX(1);
      }


    }
  }
}


.title {
  max-width: 1000px;
  margin-bottom: 50px;
  text-align: center;
}

.elements {

  &__title {
    max-width: 1000px;
    text-align: center;
  }

  &__block {
    background: #000000;
    padding: 10px;
    color: #FFFFFF;
  }

  &__inline {
    background: #d90d0d;
  }
}


/* ===== Task 4: Display Property ===== */
.display {
  &__title {
    max-width: 800px;
    text-align: center;
  }

  &__block {
    display: block;
    background: #007bff;
    margin: 5px 0;
    padding: 5px;
  }

  &__inline {
    display: inline;
    background: #FF7F50FF;
    padding: 3px;
  }

  &__flex {
    display: flex;
    justify-content: center;
    gap: 10px;
    background: #949292;
    padding: 10px;
  }

  /* ===== Task 4: Box-sizing ===== */
  .box-example {
    width: 200px;
    padding: 20px;
    border: 4px solid #000;
    box-sizing: border-box;
    background: #007bff;
    margin-top: 10px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
  }

}

/* ===== Task 5: Float and Clear ===== */
.float-clear {
  &__title {
    max-width: 800px;
    margin-bottom: 100px;
    text-align: center;
  }

  .float-container {
    border: 2px solid #333;
    padding: 10px;
    margin-top: 10px;
    background: #fafafa;


  }

  .box {
    max-width: 200px;
    width: 100%;
    height: 100px;
    color: #000;
    font-weight: 700;
    text-align: center;
    padding: 30px;
  }

  .left {

    float: left;
    background: yellow;
    border: 2px solid #000000;
    border-radius: 50px;
  }

  .right {
    float: right;
    background: lightcoral;
    border: 2px solid #000000;
    border-radius: 50px;
  }

  .clear {
    clear: both;
    background-color: #d90d0d;

  }

  .after-text {
    background-color: #f5f5f5;
    padding: 5px;
    margin-top: 10px;
  }

}

.position {
  position: relative;
  height: 1000px;
  padding: 20px;
  background-color: #ffffff;

  &__title {
    max-width: 700px;
    margin-bottom: 30px;
    text-align: center;
  }

  &__static {
    position: static;
    background: lightgray;
    padding: 10px;
    margin-bottom: 10px;
  }

  &__relative {
    position: relative;
    top: 10px;
    left: 10px;
    background: lightblue;
    margin-bottom: 10px;
  }

  &__absolute {
    position: absolute;
    width: 300px;
    text-align: center;
    top: 180px;
    right: 10px;
    background: lightgreen;
    padding: 10px;
  }

  &__fixed {
    position: fixed;
    bottom: 100px;
    right: 100px;
    background: orange;

  }

  &__sticky {
    position: sticky;
    top: 0;
    background: pink;
    padding: 10px;
    border: 2px solid #3C3C3C;
    font-weight: 700;
    z-index: 10;
  }
}




