@use 'functions' as *;
@use 'media' as *;
:root {
  /* 🅰️ Шрифты */
  --font-family: "Montserrat", sans-serif;
  /* 📦 Контейнер */
  /* Desktop HD (≥1441px) */
  --container-width: #{rem(1320)}; /* контентная ширина макета (1320 - 2×160px) */
  --container-padding-x: #{rem(160)}; /* внутренние отступы по бокам */

}

/* 🅰️ Шрифты */
$font-family: var(--font-family);

/* 🖥 Desktop SD (≤1440px) */
@media (width <= 1440px) {
  :root {
    --container-width: #{rem(1320)};
    --container-padding-x: #{rem(60)};
  }
}

/* 💻 Laptop (≤ 1024px) */
@include laptop {
  :root {
    --container-width: #{rem(904)};
    --container-padding-x: #{rem(50)};
  }
}

/* 📱 Tablet (≤ 768px) */
@include tablet {
  :root {
    --container-width: #{rem(708)};
    --container-padding-x: #{rem(30)};
  }
}

/* 📲 Mobile (≤ 360px) */
@include mobile {
  :root {
    --container-width: 100%;
    --container-padding-x: #{rem(16)};
  }

}
